    div.plotBox {
        position: relative;
        width: 185px;
        min-height: 185px;
        border: 4px solid black;
        margin: 5px;
        box-shadow: 3px 3px 3px green;
        overflow: auto;
    }
    div.sowPlantButton {
        display: none;
        float: left;
        width: 37px;
        height: 37px;
        margin-left: 12px;
        margin-right: 7px;
        margin-top: 9px;
        border: 2px solid black;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    div.invisPlantContainer {
        display: none;
        position: absolute;
        width: 115px;
        height: 115px;
        top: 20px;
        left: 33px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    img.soil {
        position: relative;
        margin-top: 50%;
        width: 100%;
        bottom: 0px;
    }
    table#seedCosts {
        position: absolute;
        top: 10px;
        left: 650px;
        text-align: center;
    }
    div.border {
        border: 2px solid black;
        height: 16px;
        width: 35px;
        box-shadow: 3px 3px 3px green;
    }
    div.progressBar {
        display: none;
        position: absolute;
        width: 160px;
        height: 20px;
        top: 144px;
        left: 10.5px;
        border: 2px solid black;
        background-color: lightblue;
    }
    div.progressBar div.filler {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: orange;
    }
    div.progressBar div.time {
        position: absolute;
        width: 100%;
        text-align: center;
    }
    button.button {
        display: none;
        position: absolute;
        width: 164px;
        height: 24px;
        top: 144px;
        left: 10.5px;
        border: 2px solid black;
    }
    div#cash {
        position: absolute;
        top: 450px;
        left: 700px;
        font-size: 30px;
        font-weight: bold;
    }