html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
div.menuPanel {
    width: 450px;
    float: right;
}
div.gamePanel {
    overflow: scroll;
    height: 100%;
}
div.plot {
    position: relative;
    width: 185px;
    height: 185px;
    border: 4px solid black;
    box-shadow: 3px 3px 3px green;
    overflow: auto;
}

div.plot > div {
    height: 100%;
    width: 100%;
    display: none;
}

div.plot > div.sowable {
    height: 175px;
    width: 175px;
}

div.locked .locked {
  display: block;
}
div.sowable .sowable {
  display: block;
}
div.growing .growing {
  display: block;
}
div.harvestable .harvestable {
  display: block;
}

button.sowBtn {
    float: left;
    width: 37px;
    height: 37px;
    margin: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    background-color:  white;
}

div#sowMenuBg {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
}

div#sowMenuBg:before {
    z-index: -1;
    content: '';
    position: absolute;

    opacity: 0.6;
    height: 100%;
    width: 100%;
    background-color:black;
}

div#sowMenu {
    background-color: papayawhip;
    height: 480px;
    width: 640px;
    margin-left: -320px;
    margin-top: -240px;

    opacity: 1.0;
    border: inset 4px black;
    padding: 10px;
}

img.soil {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 10px;
}
p.growingImg {
    position: absolute;
    width: 115px;
    height: 115px;
    top: 20px;
    left: 33px;
    background-repeat: no-repeat;
    background-size: contain;
}
img.lock {
    height: 160px;
    margin: 12px 0px 0px 33px;
}
div.progressBar {
    display: block;
    position: absolute;
    width: 160px;
    height: 20px;
    top: 144px;
    left: 10.5px;
    border: 2px solid black;
    background-color: lightblue;
}
div.progressBar div.filler {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: orange;
}
div.progressBar div.time {
    position: absolute;
    width: 100%;
    text-align: center;
}
button.harvestBtn {
    position: absolute;
    width: 164px;
    height: 24px;
    top: 144px;
    left: 10.5px;
    border: 2px solid black;
    cursor: pointer;
}

div.border {
    border: 2px solid black;
    box-shadow: 3px 3px 3px green;
    cursor: pointer;
    user-select: none;
}
div.resource {
    position: relative;
    top: 50px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
}

span#buyPlot {
    padding: 12px 16px;
    display: block;
    width: 120px;
    background-color: #f9f9f9;
    border: 1px solid black;
    border-collapse: collapse;
}

div.flash {
    position: absolute;
    width: 40%;
    left: 30%;
    background-color: #46d33a;
    color: white;
    font-family: sans-serif;
    font-size: 12pt;
    padding: 6px;
    border-radius: 12px;
    border-style: inset inset inset inset;
    border-color: #109922;
    border-width: 4px;
    text-align: center;
    vertical-align: bottom;
    maxHeight: 200px;
}
div.flash.in {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    top: 50px !important;
}
div.flash.out {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    top: -250px !important;
}
div#notificationPanel {
    position: fixed;
    bottom: 0px;
    left: 2%;
    width: 20%;
    max-height: 10%;
    border: 3px solid black;
    border-bottom: none;
    background: white;
    overflow: scroll;
}
@keyframes borderChange {
    0%   {border: 5px solid red;}
    50%  {border: 5px solid yellow;}
    100% {border: 5px solid red;}
}
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0%;
    margin-left: 0px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 99%;
    left: 10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
table#seedCosts img {height:20px;}

div.seedInfoContent img {height:30px;}

.seedInfoButton {
    border: 2px solid black;
    border-radius: 50%;
    width: 17px;
    cursor: pointer;
}

.seedInfoContent {
    display: block;
    width: 100px;
    border: 2px solid black;
    position: fixed;
    right: 0;
    background-color: white;
    padding: 4px;
}

.seedInfoButton:hover .seedInfoContent {display: none;}

img.resourceIcon, img.seedIcon {
    height: 20px;
    display: inline;
    margin-left: 6px;
}

.tooltip .tooltiptext {
    display: none;
}

 {
    display: block;
}

body.tutorial_stage1 .tstage1,
body.tutorial_stage2 .tstage2,
body.tutorial_stage3 .tstage3 {
    animation-name: borderChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

body.tutorial_stage1 .tstage1 .tooltiptext,
body.tutorial_stage2 .tstage2 .tooltiptext,
body.tutorial_stage3 .tstage3 .tooltiptext {
    display: block;
}
