<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<table>
{% for i in range(3) %}
    <tr>
    {% for j in range(3) %}
        <td>
            <div id = "plot{{ i }}{{ j }}" class = "plotBox">
                <div id = "alfalfa{{ i }}{{ j }}" class = "sowPlantButton sowPlantButtonA" onclick = "sow({{ i }}, {{ j }}, 'a')"></div>
                <div id = "broccoli{{ i }}{{ j }}" class = "sowPlantButton sowPlantButtonB" onclick = "sow({{ i }}, {{ j }}, 'b')"></div>
                <div id = "cabbage{{ i }}{{ j }}" class = "sowPlantButton sowPlantButtonC" onclick = "sow({{ i }}, {{ j }}, 'c')"></div>
                <div id = "growing{{ i }}{{ j }}" class = "invisPlantContainer"></div>
                <img id = "soil{{ i }}{{ j }}" src = "/static/soil.jpg" class = "soil">
                <div id = "progressBar{{ i }}{{ j }}" class = "progressBar">
                    <div id = "filler{{ i }}{{ j }}" class = "filler"></div>
                    <div id = "time{{ i }}{{ j }}" class = "time"></div>
                </div>
                <button id = "button{{ i }}{{ j }}" class="button" onclick = "harvest({{ i }}, {{ j }})">Harvest</button>
            </div>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

<table id = "seedCosts">
    <tr>
        <td>
        </td>
        <td>
            <div>Seed</div>
        </td>
        <td>
            <div>Sell</div>
        </td>
        <td>
            <div>Owned</div>
        </td>
        <td>
            <div>Buy</div>
        </td>
    </tr>
    <tr>
        <td>
            <img src = "/static/alfalfa_s.jpg" style = "width: 20px;">
        </td>
        <td>
            <div style = "text-align: left;">Alfalfa Sprouts</div>
        </td>
        <td>
            <div id = "sellA" class = "border" onclick = "sell('a')"></div>
        </td>
        <td>
            <div id = "owneda"></div>
        </td>
        <td>
            <div id = "buyA" class = "border" onclick = "buy('a')"></div>
        </td>
    </tr>
    <tr>
        <td>
            <img src = "/static/broccoli_s.jpg" style = "width: 20px;">
        </td>
        <td>
            <div style = "text-align: left;">Broccoli</div>
        </td>
        <td>
            <div id = "sellB" class = "border" onclick = "sell('b')"></div>
        </td>
        <td>
            <div id = "ownedb"></div>
        </td>
        <td>
            <div id = "buyB" class = "border" onclick = "buy('b')"></div>
        </td>
    </tr>
    <tr>
        <td>
            <img src = "/static/cabbage_s.jpg" style = "width: 20px;">
        </td>
        <td>
            <div style = "text-align: left;">Cabbage</div>
        </td>
        <td>
            <div  id = "sellC" class = "border" onclick = "sell('c')"></div>
        </td>
        <td>
            <div id = "ownedc"></div>
        </td>
        <td>
            <div id = "buyC" class = "border" onclick = "buy('c')"></div>
        </td>
    </tr>
</table>
<div id = "cash"></div>

<script type = "text/javascript" src = "/static/script.js"></script>

</body>
</html>