<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id = "title">Garden Sim 2K17</title>
    <link rel="shortcut icon" href="/static/images/chilipepper_s.png">
<link rel="stylesheet" href="/static/styles.css">
<link rel="stylesheet" href="/static/sharedStyles.css">
</head>
<body>

<img id="wateringCan" src="/static/images/watering_can.png">

<div class="menuPanel">
    <span id="nameGarden"></span>
    <button onclick="mainMenu()" style="display: inline; font-size: 20px; margin: 0px 10px;">Return to Main Menu</button>
    <span id="buyPlot">Click a plot to unlock</span>
</div>

<div class="gamePanel">
<table style="border-spacing: 10px">
{% for j in range(field_height) %}
    <tr>
    {% for i in range(field_width) %}
        <td>
            <div id="plot{{ i }}_{{ j }}" class="plot locked">
                <div id="sowable{{ i }}_{{ j }}" class="sowable" onclick="showSowMenu({{ i }}, {{ j }});">
                  <img class="soil" src="/static/images/soil.png">
                </div>
                <div class="growing">
                  <div class="growingImg"></div>
                  <div class="progressBar">
                      <div id="filler{{ i }}_{{ j }}" class="filler"></div>
                      <div id="time{{ i }}_{{ j }}" class="time"></div>
                  </div>
                </div>
                <div class="locked" onclick="unlock({{ i }}, {{ j }})">
                  <img class="lock" src="/static/images/lock.png">
                </div>
                <div class="harvestable"  onclick="harvest({{ i }}, {{ j }})">
                  <div class="growingImg"></div>
                  <button class = "harvestable harvestBtn">Harvest</button>
                </div>
            </div>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
</div>

<div id="woodBorderV"></div>

<div class="seedPanel">
    <div style="max-height: 40%; overflow: scroll;">
        <table id="seedCosts" style="text-align: center;">
            <tr>
                {% for heading in ('', '', 'Seed', 'Sell', 'Owned', 'Buy',) %}
                <td>
                    {{ heading }}
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <div class="woodBorderH" style="width: 440px; height: 15px;"></div>

    <div style="max-height: 40%; overflow: scroll; padding-left: 150px;">
    <table style="display: inline-block;">
      <tbody id="resourceTable">
        <tr>
          <td><img src="/static/images/cash.png"></td>
          <td><span id="resname_{{ cash_resource }}">Cash</span>:</td>
          <td>$<span id="resvalue_{{ cash_resource }}"></span></td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="woodBorderH" style="width: 440px; height: 15px;"></div>

    <div id="notificationPanel">
</div>

<div class="flash out" id="flash"></div>

</div>

<div id="sowMenuBg" onclick="hideSowMenu()">
  <div style="position: absolute; top: 50%; left: 50%">
    <div id="sowMenu">
      <div id="sowButtonHolder">

      </div>
    </div>
  </div>
</div>

<script type = "text/javascript" src = "/static/server.js"></script>
<script type = "text/javascript" src = "/static/frontEndLayout.js"></script>

</body>
</html>