<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garden Sim 2K17</title>
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<table>
{% for i in range(3) %}
    <tr>
    {% for j in range(3) %}
        <td>
            <div id = "plot{{ i }}{{ j }}" class = "plotBox">
                {% for seed_letter, seed_data in seeds.items() %}
                    <div id = "sow{{seed_letter}}{{ i }}{{ j }}" class = "sowPlantButton" style = "background-image: url({{seed_data['imageMedium']}});" onclick = "sow({{ i }}, {{ j }}, '{{seed_letter}}')"></div>
                {% endfor %}
                <div id = "growing{{ i }}{{ j }}" class = "invisPlantContainer"></div>
                <img id = "soil{{ i }}{{ j }}" src = "/static/soil.png" class = "soil">
                <div id = "progressBar{{ i }}{{ j }}" class = "progressBar">
                    <div id = "filler{{ i }}{{ j }}" class = "filler"></div>
                    <div id = "time{{ i }}{{ j }}" class = "time"></div>
                </div>
                <button id = "button{{ i }}{{ j }}" class="button" onclick = "harvest({{ i }}, {{ j }})">Harvest</button>
            </div>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

<table id = "seedCosts">
    <tr>
        <td>
        </td>
        <td>
            <div>Seed</div>
        </td>
        <td>
            <div>Sell</div>
        </td>
        <td>
            <div>Owned</div>
        </td>
        <td>
            <div>Buy</div>
        </td>
    </tr>
    {% for seed_letter, seed_data in seeds|dictsort %}
        <tr>
            <td>
                <img src = "{{seed_data['imageSmall']}}" style = "height: 20px;">
            </td>
            <td>
                <div style = "text-align: left;">{{seed_data['name']}}</div>
            </td>
            <td>
                <div id = "sell{{seed_letter}}" class = "border" onclick = "sell('{{seed_letter}}')"></div>
            </td>
            <td>
                <div id = "owned{{seed_letter}}"></div>
            </td>
            <td>
                <div id = "buy{{seed_letter}}" class = "border" onclick = "buy('{{seed_letter}}')"></div>
            </td>
        </tr>
    {% endfor %}
</table>
<div id = "cash"></div>

<script type = "text/javascript" src = "/static/server.js"></script>
<script type = "text/javascript" src = "/static/frontEndLayout.js"></script>

</body>
</html>